 <h1 style="color: blue;"> Task on Template-form with live coading</h1>

 <form name="myForm" #frm="ngForm" (ngSubmit)="onSubmitForm(frm)"> 

<div class="form-group">

    <label for="Name"> Name:</label>
    <input type="text" name="name" class="form-control" #name="ngModel"ngModel>

</div>

<div class="form-group">

    <label for="Age"> Age:</label>
    <input type="text" name="Age" class="form-control" #Age="ngModel" ngModel>

</div>


<div class="form-group">

    <label for="DOB"> Date of birth:</label>
    <input type="text" name="DOB" class="form-control" #DOB="ngModel" ngModel>

</div>


<div class="form-group">

    <label for="Education"> Education:</label>
    <input type="text" name="Education" class="form-control" #Education="ngModel" ngModel>

</div>


<div class="form-group">

    <button type="submit" class="btn btn-info">submit</button>


</div>
 


</form>


 <!-- <h1 style="color: blue;"> Task on Template-form with live coading</h1> 

 <form name="myForm" #frm="ngForm" (ngSubmit)="onSubmitForm(frm)">
  <div class="form-group">

    <label for="Name"> Name:</label>
    <input type="text" name="name" class="form-control">

</div>

<div class="form-group">

    <label for="Age"> Age:</label>
    <input type="number" name="Age" class="form-control">

</div>


<div class="form-group">

    <label for="DOB"> Date of birth:</label>
    <input type="number" name="DOB" class="form-control">

</div>


<div class="form-group">

    <label for="Education"> Education:</label>
    <input type="text" name="Education" class="form-control">

</div>


<div class="form-group">
    
    <button type="submit" class="btn btn-info">submit</button>


</div>



</form> --> -->
