<!-- <h3>This is for selector</h3> -->


<!-- <app-directivs></app-directivs> -->

<!-- <app-binding></app-binding> -->

<!-- <app-template-form></app-template-form> -->

<!-- <app-shweta></app-shweta> -->

<!-- <app-pipe></app-pipe> -->

<!-- <appCustDirective></appCustDirective> -->

<!-- <app-lifecycle></app-lifecycle> -->

<!-- <app-livecoading></app-livecoading> -->

<!-- <app-forms></app-forms> -->

<app-servicedata></app-servicedata>

<!-- <app-rxjs-operator></app-rxjs-operator> -->

<!-- <app-form1></app-form1> -->

<!-- <app-promise></app-promise> -->
